.header {
    background-color: navy;
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    padding-left: 8px;
    font-size: 22px;
}

.link:hover {
    text-decoration: underline;
    color: lightgray;
}
.log-out-in-btn{
    background-color: navy;
    cursor: pointer;
    border: none;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 5px;
}
@media screen and (max-width:490px){
    .header{
        flex-direction: column;
        gap: 12px;
        padding: 16px;
    
    }
}